// Import values
@import 'fonts.sass'
@import 'vars.sass'


body
    font-size: 16px
    font-family: $roboto

.fa-solid.margin-right
    padding-right: 10px

.flex 
    display: flex
    flex-wrap: wrap

.flex-column
    display: flex
    flex-direction: column

.padding-top-50
    padding-top: 50px

.col-12
    width: 100%
    flex-basis: 100%
.center-text
    text-align: center

p.bigger
    font-size: 1.45rem

#logo img 
    width: 50px
    height: 50px

h1, h2, h3
    font-family: $dm-serif

h2
    font-size: 2.8rem !important

.bold
    font-weight: bold

.max-900
    max-width: 900px

.mb-12
    margin-bottom: 50px

@media (min-width: 1200px)
    .p-10vw-l
        padding-left: 10vw !important
        padding-right: 10vw !important

.button
    border-radius: 20px
    padding: 15px 20px
    display: inline-block
    text-decoration: none
    font: 
        family: $roboto
        weight: 500
        size: 1.12rem
    transition: ease-in 300ms
    &:hover
        cursor: pointer
        text-decoration: underline

nav.navbar  
    padding: 20px
    transition: box-shadow 0.3s ease
    a.navbar-brand
        background: $red
        color: white
        padding: 15px
        div p
            margin-bottom: 0

nav.navbar.navbar-shadow
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
                
#hero 
    background: $red
    font-family: $roboto
    color: white
    h1
        font:
            family: $dm-serif
            weight: bold
            size: 2.5rem
    div
        img#hero-image
            object-fit: cover
            height: 100%
            width: 100%

    #contact-button-container
        button.contact
            border: none
            &#emergency
                margin-bottom: 25px
                background: white
                color: $red
                &:hover
                    background: #F2BB05
                    color: #23231A
            &#non-emergency
                background: rgba(255, 255, 255, 0.2)
                color: white
                &:hover
                    background: white
                    color: $red

#hero.page-hero
    background: $black    
    color: white
section#quick-links
    background: $red
    .container
        div.col-md-3
            height: 200px
            text-align: center
            color: white
            display: flex
            justify-content: stretch
            font: 
                family: $roboto
            a 
                width: 100%
                height: 100%
                display: flex
                flex-direction: column
                justify-content: center
                &:hover
                    background: rgba(255,255,255,0.4)
                    cursor: pointer
            i
                font-size: 2rem
            p
                font-size: 1.25rem

section#about
    img
        object-fit: cover
        width: 100%
        height: auto
        position: relative
    #img-offset
        position: relative
        width: 100%
        height: 100%
    #img-offset::after
        content: ""
        position: absolute
        top: 20px
        left: -20px
        width: 100%
        height: 100%
        background: $yellow

    #services
        .col-md-6
            p:first-of-type
                display: flex
                align-items: center

        i.fa-solid
            font-size: 3em
            color: $red
            margin-right: 15px

section#volunteer
    background-image: url("https://ninapetrop.github.io/west-windsor-volunteer-fire-department/images/fire-2.jpeg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative
    min-height: 450px
    display: grid
    color: white
    a.button
        background: $red
        color: white
section#volunteer::after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6))

section#community-events
    .event-card
        border: solid 1px $grey
        padding: 0
        @media (min-width: 768px)
            width: 31%
        img.event-img
            object-fit: cover
            width: 100%
        .event-content
            padding: 20px
            p.small
                margin-bottom: 5px
            p.bold
                font-size: 1.2rem
    .event-card.dark
        position: relative
        .event-content
            position: absolute
            top: 0
            width: 100%
            height: 100%
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9))
            display: flex
            color: white
            flex-direction: column
            justify-content: end
        img.event-img
            height: 100%
    .event-card.light
       

.flex.space-between
    justify-content: space-between  
.flex.wrap
    flex-wrap: wrap
footer
    background: $black
    color: white
    padding: 75px 0
    font-size: 1.25rem
    border-top: 1rem solid $grey

    a.button
        color: white
        background-color: $red

    i.fa-regular, i.fa-solid
        color: $red 
    .container
        .col-6 
            flex-basis: 300px

    ul#footer-nav
        list-style: none
        li
            padding: 10px 0
        li a
            color: white

@import 'public-education.sass'

// Contact page
.contact-email 
    text-decoration: none
    padding: 10px
    transition: ease-in 300ms
    border: solid 1px transparent
    &:hover
        border-bottom: solid 1px $red
        cursor: pointer
    i
        color: $red
        margin-right: 10px
