.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-size: 16px;
  font-family: "Roboto", serif;
}

.fa-solid.margin-right {
  padding-right: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.padding-top-50 {
  padding-top: 50px;
}

.col-12 {
  width: 100%;
  flex-basis: 100%;
}

.center-text {
  text-align: center;
}

p.bigger {
  font-size: 1.45rem;
}

#logo img {
  width: 50px;
  height: 50px;
}

h1, h2, h3 {
  font-family: "DM Serif Text", serif;
}

h2 {
  font-size: 2.8rem !important;
}

.bold {
  font-weight: bold;
}

.max-900 {
  max-width: 900px;
}

.mb-12 {
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .p-10vw-l {
    padding-left: 10vw !important;
    padding-right: 10vw !important;
  }
}
.button {
  border-radius: 20px;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 1.12rem;
  transition: ease-in 300ms;
}
.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav.navbar a.navbar-brand div {
  display: flex;
  align-items: center;
}
nav.navbar a.navbar-brand div img {
  height: 80px;
}
nav.navbar a.navbar-brand div p {
  margin-bottom: 0;
}

#hero {
  background: #d10005;
  font-family: "Roboto", serif;
  color: white;
}
#hero h1 {
  font-family: "DM Serif Text", serif;
  font-weight: bold;
  font-size: 2.5rem;
}
#hero div img#hero-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
#hero #contact-button-container button.contact {
  border: none;
}
#hero #contact-button-container button.contact#emergency {
  margin-bottom: 25px;
  background: white;
  color: #d10005;
}
#hero #contact-button-container button.contact#emergency:hover {
  background: #F2BB05;
  color: #23231A;
}
#hero #contact-button-container button.contact#non-emergency {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}
#hero #contact-button-container button.contact#non-emergency:hover {
  background: white;
  color: #d10005;
}

#hero.page-hero {
  background: #23231A;
  color: white;
}

section#quick-links {
  background: #d10005;
}
section#quick-links .container div.col-md-3 {
  height: 200px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: stretch;
  font-family: "Roboto", serif;
}
section#quick-links .container div.col-md-3 a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#quick-links .container div.col-md-3 a:hover {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
section#quick-links .container div.col-md-3 i {
  font-size: 2rem;
}
section#quick-links .container div.col-md-3 p {
  font-size: 1.25rem;
}

section#about img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  position: relative;
}
section#about #img-offset {
  position: relative;
  width: 100%;
  height: 100%;
}
section#about #img-offset::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  width: 100%;
  height: 100%;
  background: #F2BB05;
}
section#about #services .col-md-6 p:first-of-type {
  display: flex;
  align-items: center;
}
section#about #services i.fa-solid {
  font-size: 3em;
  color: #d10005;
  margin-right: 15px;
}

section#volunteer {
  background-image: url("https://images.pexels.com/photos/3013676/pexels-photo-3013676.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 450px;
  display: grid;
  color: white;
}
section#volunteer a.button {
  background: #d10005;
  color: white;
}

section#volunteer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
}

section#community-events .event-card {
  border: solid 1px #9197AE;
  padding: 0;
}
@media (min-width: 768px) {
  section#community-events .event-card {
    width: 31%;
  }
}
section#community-events .event-card img.event-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
section#community-events .event-card .event-content {
  padding: 20px;
}
section#community-events .event-card .event-content p.small {
  margin-bottom: 5px;
}
section#community-events .event-card .event-content p.bold {
  font-size: 1.2rem;
}
section#community-events .event-card.dark {
  position: relative;
}
section#community-events .event-card.dark .event-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: end;
}
section#community-events .event-card.dark img.event-img {
  height: 100%;
}
.flex.space-between {
  justify-content: space-between;
}

.flex.wrap {
  flex-wrap: wrap;
}

footer {
  background: #23231A;
  color: white;
  padding: 75px 0;
  font-size: 1.25rem;
  border-top: 1rem solid #9197AE;
}
footer a.button {
  color: white;
  background-color: #d10005;
}
footer i.fa-regular, footer i.fa-solid {
  color: #d10005;
}
footer .container .col-6 {
  flex-basis: 300px;
}
footer ul#footer-nav {
  list-style: none;
}
footer ul#footer-nav li {
  padding: 10px 0;
}
footer ul#footer-nav li a {
  color: white;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}

#public-education-container div#content-nav {
  position: sticky;
  top: 100px;
}
#public-education-container div#content-nav a {
  color: #23231A;
  font-size: 1.2rem;
  margin: 20px 0;
  border: none;
  border-left: solid 2px #d10005;
  border-radius: 0;
}
#public-education-container div#content-nav a.active {
  background: #d10005;
  color: white;
}
#public-education-container #public-education-content .list-item {
  margin-top: 10vw;
}
#public-education-container #public-education-content .list-item:first-of-type {
  margin-top: 0;
}
#public-education-container #public-education-content h4 {
  margin-top: 75px;
  margin-bottom: 15px;
  font-size: 2.2rem;
  font-family: "DM Serif Text", serif;
}
#public-education-container #public-education-content h5 {
  font-size: 1.6rem;
  font-family: "DM Serif Text", serif;
  margin-top: 25px;
  margin-bottom: 15px;
}

.contact-email {
  text-decoration: none;
  padding: 10px;
  transition: ease-in 300ms;
  border: solid 1px transparent;
}
.contact-email:hover {
  border-bottom: solid 1px #d10005;
  cursor: pointer;
}
.contact-email i {
  color: #d10005;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */